/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';
// Fonts
// @import url('href=https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700|Roboto:300,400&amp;subset=cyrillic');



 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/form';
@import 'core/grid';
@import 'core/_old_style';


.review {
	margin-top: 46px;
	&__row {
		display: table;
		width: 100%;
		margin-bottom: 30px;
		> div {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
			&:first-child {
				padding-right: 16px;
			}
			&:last-child {
				padding-left: 15px;
			}
		}
	}
	&__video {
	}
	&__text {
		// padding-top: 0px;
	}
	&__title {
		font-family: "Roboto Condensed";
		font-size: 32px;
		font-weight: 700;
		line-height: 1.3;
		margin-bottom: 33px;
		letter-spacing: 0.32px;
		color: #35363a;
	}
	&__sub {
		font-family: "Roboto Condensed";
		font-size: 24px;
		font-weight: 400;
		line-height: 1.1;
		letter-spacing: 0.32px;
		padding-left: 5px;
		// display: inline;
		span {
			background-color: #ffe4b7;
			padding: 4px 8px;
			color: #414445;
			display: inline-block;
			margin-left: -5px;
			+ span {
			}
		}
	}
	&__more {
		text-align: center;
		margin-top: -7px;
		.btn {
			width: 263px;
			font-family: "Roboto Condensed";
			text-shadow: 0 0 4px rgba(#000, .6);
			padding: 9px 26px;
		}
	}
	@media (max-width: 1440px) {
	    margin-top: 0px;
	    &__title {
	    	font-size: 23px;
	    	line-height: 1.5;
	    	margin-bottom: 24px;
	    }
	    &__sub {
	    	font-size: 21px;
	    	span {
				padding: 2px 6px;
				line-height: 1.2;
				// display: inline;
	    	}
	    }
	    &__more {
	    	margin-bottom: -69px;
	    }
	}
	@media (max-width: 991px) {
		margin-top: -6px;
		&__row {
			display: block;
			margin-bottom: 53px;
			position: relative;
			> div {
				display: block;
				width: 100%;
				padding-right: 0 !important;
				padding-left: 0 !important;
			}
		}
		&__video {
			position: absolute;
			bottom: 0;
		}
		&__text {
			padding-bottom: 56.2%;
		}
	    &__title {
	    	font-size: 23px;
	    	margin-bottom: 21px;
	    }
	    &__sub {
	    	font-size: 19px;
	    	margin-bottom: 29px;
	    	span {
				padding: 8px 6px;
	    	}
	    }
	    &__more {
	    	margin-bottom: -69px;
	    }
	}
	@media (max-width: 730px) {
		&__row {
			margin-bottom: 37px;
		}
	    &__sub {
	    	font-size: 18px;
	    	margin-bottom: 34px;
	    	span {
				padding: 4px 8px;
	    	}
	    }
	    &__more {
	    	margin-top: -11px;
	    	margin-bottom: -87px;
	    }
	}
}

.video__wrap {
	position: relative;
	padding-bottom: 56.2%;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}	
}
